<div id="login">
<script type="text/javascript">
  function janrainCaptureWidgetOnLoad() {
    janrain.settings.capture.flowName = 'signInEmbedded';
    janrain.settings.capture.responseType = 'code';
    janrain.capture.ui.start();

    janrain.events.onCaptureLoginSuccess.addHandler(function(result) {
      $('#login').html($('#loading').html());
      sendAuthorizationCodeToServer(result.authorizationCode);
    });
    janrain.events.onCaptureRegistrationSuccess.addHandler(function(result) {
      $('#login').html($('#loading').html());
      sendAuthorizationCodeToServer(result.authorizationCode);
    });
    janrain.events.onCaptureSessionEnded.addHandler(function() {
    });
    janrain.events.onCaptureScreenShow.addHandler(function(result) {
      if (result.screen == 'returnTraditional') {
        var span = document.getElementById('traditionalWelcomeName');
        var name = janrain.capture.ui.getReturnExperienceData('displayName');
        if (span && name) {
          span.innerHTML = "Hi " + name;
        }
      }
    });
    janrain.events.onCaptureRenderComplete.addHandler(function(result) {
      window.widgetReady = true;
    });
  };

  function sendAuthorizationCodeToServer(code) {
    var params = {}
    params['code'] = code;
    $.ajax({
      type: 'POST',
      url: '/users/sign_in',
      data: params,
      success: function(results) {
        if(results.access_token) {
          janrain.capture.ui.createCaptureSession(results.access_token);
          if(results.redirect_url) {
            window.location.href = results.redirect_url;
          } else {
            displayError('Did not receive redirect back from server.');
          }
        } else {
          displayError('Did not receive token back from server.');
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        displayError('An error occurred while logging in.');
      }
    });
  }

  function displayError(error) {
    error = error || 'An error occurred while logging in.';
    error += ' Please refresh the page and try again.';
    var popup = document.getElementById("captureRetrievingUserDataBuiltIn").firstChild;
    popup.innerHTML = error;
    popup.style.backgroundImage = "url('//cdn.oreillystatic.com/members/images/warning.png')";
    popup.style.fontWeight = "bold";
  }
</script>

<%= render 'capturable/noscript' %>

<script src="//cdn.oreillystatic.com/members/js/widgets/login-widget.min.js" id="janrainCaptureScript"></script>
</div>
