<h1>Reset Your Password</h1>

<script>
   function janrainCaptureWidgetOnLoad() {
     janrain.settings.capture.flowName = 'signInEmbedded';
     janrain.capture.ui.start();
   };
</script>
<script id="janrainCaptureScript"
  src="//cdn.oreillystatic.com/members/js/widgets/forgot-password-widget.min.js">
</script>
